@import "tailwindcss";

.text-primary {
  @apply bg-linear-to-r from-blue-500 to-green-500 bg-clip-text text-transparent;
}

.bg-primary {
  @apply bg-gradient-to-r from-blue-500 to-green-500
}

.sidebar-hover {
  @apply hover:rounded-4xl hover:bg-gray-200 border-gray-200 transition-all duration-200;
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.25s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
